@font-face {
  font-family: 'Glegoo-Regular';
  src: url('Glegoo/Glegoo-Regular.eot');
  src: url('Glegoo/Glegoo-Regular.eot?#iefix') format('embedded-opentype'),
       url('Glegoo/Glegoo-Regular.woff') format('woff'),
       url('Glegoo/Glegoo-Regular.ttf') format('truetype'),
       url('Glegoo/Glegoo-Regular.svg#Glegoo-Regular') format('svg');
}

body {
  background-color: rgb(185, 185, 185);
  font-family: 'Glegoo-Regular',sans-serif;
}

.header {
  text-align: center;
  padding: 10px;
}

#info{
  top: 0%;
  margin-left: 10px;
}

.clearfix {
  overflow: auto;
}

p {
  font-family: Tahoma, sans-serif;
  font-weight: normal;
  font-size: 15px;
}

path {
  fill: #ccc;
  stroke: rgb(0, 0, 0);
  stroke-width: .7px;
}

  
path.active {
  fill: pink;
}

/* .map{
  position:absolute;
  left:1%;
  top: 18%;
  z-index: -1;
} */

#buttons{
  position: absolute;
  left: 1%;
}

#splom {
position: relative;
left: 2%;
}

#sploming {
  position: absolute;

right: 114px;

top: 25px;
}

* {
  box-sizing: border-box;
}

#svg_map {
  float: left;
  width: 55%;
}
#svg_splom {
  float: left;
  width: 45%;
}

.legend {
  position: relative;
  bottom: 1%;
}

.col-sm-3 {
  width: 23%;
  padding: 4px;
}

/*.splom_select {
  display:inline-block;
  padding:0.3em 0.5em;
  margin:0 0.3em 0.3em 0;
  border-radius:1em;
  box-sizing: border-box;
  text-decoration:none;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 1s;
}
.splom_select:hover{
  background-color:#4095c6;
}*/

#custom-select {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
}
