@font-face {
  font-family: 'Glegoo-Regular';
  src: url('Glegoo/Glegoo-Regular.eot');
  src: url('Glegoo/Glegoo-Regular.eot?#iefix') format('embedded-opentype'),
       url('Glegoo/Glegoo-Regular.woff') format('woff'),
       url('Glegoo/Glegoo-Regular.ttf') format('truetype'),
       url('Glegoo/Glegoo-Regular.svg#Glegoo-Regular') format('svg');
}

body {
  background-color: rgb(195, 198, 201);
  font-family: 'Quattrocento Sans', sans-serif;
}

.header {
  text-align: center;
  padding: 5px;
}

#info{
  top: 0%;
  margin-left: 10px;
  width: 50%;
}

.clearfix {
  overflow: auto;
}

p {
  font-family: Tahoma, sans-serif;
  font-weight: normal;
  font-size: 15px;
}

path.map {
  fill: #ccc;
  stroke: rgb(0, 0, 0);
  stroke-width: .7px;
}

  
path.active {
  fill: pink;
}

/* .map{
  position:absolute;
  left:1%;
  top: 18%;
  z-index: -1;
} */

#buttons{
  position: absolute;
  left: 1%;
  top: 20%; /* 12% */
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  /* background-color: teal; */
}

.radio label {
  font-weight: 700;
  /* font-size: 15px; */
}

.title, .subtitle {
  font-family: 'Quattrocento Sans', sans-serif;
  margin-left: 10px;
}

#splom {
position: relative;
left: 2%;
}

#sploming {
  position: absolute;
  right: 114px;
  top: 25px;
}

* {
  box-sizing: border-box;
}

#svg_map {
  float: left;
  width: 55%;
}
#svg_splom {
  float: right;
  width: 45%;
}

.legend {
  position: relative;
  /* bottom: 1%; */
}

.col-sm-3 {
  padding: 4px;
}

/*.splom_select {
  display:inline-block;
  padding:0.3em 0.5em;
  margin:0 0.3em 0.3em 0;
  border-radius:1em;
  box-sizing: border-box;
  text-decoration:none;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 1s;
}
.splom_select:hover{
  background-color:#4095c6;
}*/

.custom-select, .custom-select2 {
  font-family: 'Quattrocento Sans', sans-serif;
  margin-bottom: 5px;
}

.custom-select2 {
  float: left;
  margin-left: 3%;
  margin-right: 5%;
  margin-top: 7%;
  margin-bottom: 10%;
  width: 25%;
}

#comp1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

#comp2 {
  margin-bottom: 50px;
  margin-top: 50px;
}

text.output {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  color: black;
}

rect.output {
  stroke: black;
  fill-opacity: 70%;
  fill: white;
}

#chart-container {
  position: absolute;
  left: 5px;
  top: 250px; /*200px*/
  width: 250px; height: 125px;
}

.navbar {
  min-height: 30px;
}

.navbar-nav > li > a, .navbar-brand{
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand {
  height: 40px;
}

#legend_barchar {
  float: left;
  font-weight: 500;
  font-size: 13.5px;
  padding-left: 6px;
  vertical-align: middle;
  margin-top: 200px;
}