@font-face {
  font-family: 'Glegoo-Regular';
  src: url('Glegoo/Glegoo-Regular.eot');
  src: url('Glegoo/Glegoo-Regular.eot?#iefix') format('embedded-opentype'),
       url('Glegoo/Glegoo-Regular.woff') format('woff'),
       url('Glegoo/Glegoo-Regular.ttf') format('truetype'),
       url('Glegoo/Glegoo-Regular.svg#Glegoo-Regular') format('svg');
}

body {
  background-color: rgb(185, 185, 185);
}

h1,div, form {
  font-family: 'Glegoo-Regular',sans-serif;
}

p {
  font-family: Tahoma, sans-serif;
  font-weight: normal;
  font-size: 15px;
}

path {
  fill: #ccc;
  stroke: rgb(0, 0, 0);
  stroke-width: .7px;
}

  
path.active {
  fill: pink;
}

.title {
  position:absolute;
  left:1%;
  top: 0px;
}
.map{
  position:absolute;
  left:1%;
  top: 18%;
  z-index: -1;
}
#slider{
  position:absolute;
  left:1%;
  top:25%;
} 
#info{
  position:absolute;
  left:1%;
  bottom:2%;
}

#buttons{
  position: absolute;
  left: 1%;
}

#leyend{
  position: absolute;
  bottom: 0px;
  right: 10px;
} 

.splom {
  position: absolute;
right: 3%;
}